@mixin pad-set($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin pad-reset($value) {
  margin-left: -($value);
  margin-right: -($value);
}

@mixin title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $textdark;
}

@mixin title-t {
  font-size: 60px;
  line-height: 60px;
}

@mixin minititle {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: $textdark;
}

@mixin minititle-t {
  font-size: 36px;
  line-height: 36px;
}

@mixin list-unstyle {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button-unstyle {
  font-family: inherit;
  padding: 0;
  border: none;
  background-color: transparent;
}

@mixin input-hovers {
  &:hover,
  &:focus {
    &::before {
      border-color: #bcbcbc;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
