@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswalmedium.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $textcolor;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  @include pad-set(20px);
}

.button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 9px;
  background-color: $firmcolor;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $firmcolor-h;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  &--grey {
    color: $textcolor;
    background-color: $bg-grey;

    &:hover,
    &:focus {
      background-color: $bg-grey-h;
    }

    &:active {
      color: rgba($color: $textcolor, $alpha: 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  .container {
    @include pad-set(30px);
  }
}

@media (min-width: $desktop-width) {
  body {
    position: relative;
  }

  .container {
    @include pad-set(40px);
  }
}
