$textcolor: #444444;
$textdark: #111111;
$header-border: #e6e6e6;
$firmcolor: #68b738;
$firmcolor-h: #5eaa2f;
$bg-grey: #f2f2f2;
$bg-grey-h: #ebebeb;
$bg-darkgrey: #e9e9e9;
$footer-icon: #666666;
$errorcolor: #ff8282;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
