.footer {
  background-color: $bg-grey;
}

.footer__block {
  width: 100%;

  &--logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 27px;
  }

  &--copyright {
    padding-top: 14px;
    padding-bottom: 22px;
  }
}

.footer__logo-link {
  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__logo {
  fill: #111111;
}

.footer__developer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;

  &:hover > .footer__developer,
  &:focus > .footer__developer {
    color: $firmcolor;
  }

  &:hover > .footer__developer-icon,
  &:focus > .footer__developer-icons {
    fill: $firmcolor;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.footer__developer-icon {
  fill: $footer-icon;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 58px;
    padding-bottom: 47px;
  }

  .footer__wrapper {
    display: flex;
    align-items: center;
  }

  .footer__block {
    text-align: left;
    padding: 0;

    &--logo {
      justify-content: flex-start;
      width: 22.88%;
    }

    &--copyright {
      width: 22.88%;
      padding-top: 6px;
    }

    &--social {
      width: 54.24%;
    }
  }

  .footer__developer-link {
    justify-content: center;
  }

  .footer__developer {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 60px;
  }

  .footer__block {
    &--copyright {
      padding-top: 0;
    }
  }

  .footer__developer-link {
    justify-content: flex-end;
  }
}
