.add-catalog {
  padding-top: 29px;
  padding-bottom: 35px;
}

.add-catalog__title {
  @include title;

  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  width: auto;
  padding-right: 23px;
  margin-top: 0;
  margin-bottom: 33px;
  background-color: #ffffff;
}

.add-catalog__wrapper {
  position: relative;

  &::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 12px;
    right: -20px;
    background-color: $firmcolor;
  }
}

.add-catalog__list {
  border-top: 1px solid #cdcdcd;
}

.add-catalog__promo {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 44px;
  margin-top: 39px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.add-catalog__icon-gift {
  fill: #ffffff;
}

.add-catalog__promo-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  color: #ffffff;
  text-align: center;
  width: 160px;
  margin: 60px auto 0;
}

@media (min-width: $tablet-width) {
  .add-catalog {
    padding-bottom: 76px;
    margin-top: -25px;
    overflow-x: hidden;
  }

  .add-catalog__title {
    @include minititle-t;

    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 79px;
  }

  .add-catalog__wrapper {
    &::before {
      width: 110%;
      top: 20px;
      right: -30px;
    }
  }

  .add-catalog__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .add-catalog__promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 91px;
    padding-right: 110px;
    padding-top: 65px;
    padding-bottom: 71px;
    margin-top: 69px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add-catalog__promo-text {
    text-align: left;
    width: 175px;
    margin: 0;
    margin-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog {
    padding-bottom: 86px;
    margin-top: -15px;
  }

  .add-catalog__title {
    padding-left: 0;
  }

  .add-catalog__wrapper {
    &::before {
      width: 100%;
      right: -40px;
    }
  }

  .add-catalog__inner {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }

  .add-catalog__list {
    width: 895px;
    margin-right: 80px;
    border: none;
  }

  .add-catalog__promo {
    flex-direction: column;
    width: 245px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 65px;
    padding-bottom: 46px;
    margin-top: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add-catalog__promo-text {
    text-align: center;
    margin-right: -12px;
  }
}
