.add-product {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;
}

.add-product__title {
  @include minititle;

  line-height: 16px;
  margin-top: 0;
  margin-bottom: 11px;
}

.add-product__options {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 12px;
  border-spacing: 0;
}

.add-product__options-cell {
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;

  &--quantity {
    text-align: left;
  }

  &--price {
    text-align: right;
  }
}

.add-product__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .add-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 37px;
    padding-top: 25px;
    padding-bottom: 29px;
  }

  .add-product__title {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  .add-product__options {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    margin-top: 2px;
  }

  .add-product__options-cell {
    &--quantity {
      text-align: right;
    }

    &--price {
      width: 95px;
    }
  }

  .add-product__note {
    display: inline;
  }

  .add-product__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .add-product {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }

  .add-product__title {
    width: 245px;
    margin: 0;
    margin-right: 81px;
  }

  .add-product__options {
    width: 285px;
    margin-right: 39px;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .add-product__options-cell {
    &--quantity {
      text-align: left;
    }
  }

  .add-product__button {
    width: 245px;
  }
}
