.add-list {
  @include list-unstyle;

  margin-top: 14px;
}

.add-list__input {
  display: none;
}

.add-list__item {
  margin-bottom: 13px;
}

.add-list__label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $textdark;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
  }

  @include input-hovers;
}

.add-list__input:checked + .add-list__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

@media (min-width: $tablet-width) {
  .add-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 39px;
  }

  .add-list__item {
    width: 45.6%;
    margin-bottom: 32px;
  }

  .add-list__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 57px;
    padding-top: 9px;
    padding-bottom: 9px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .add-list__input:checked + .add-list__label::before {
    background-size: 60%;
  }
}

@media (min-width: $desktop-width) {
  .add-list {
    justify-content: space-between;
  }

  .add-list__item {
    width: 245px;
  }
}
