.fields {
  padding-top: 10px;
  padding-bottom: 31px;
}

.fields__set {
  padding-bottom: 9px;

  &--personal {
    padding-bottom: 24px;
  }

  &--program {
    @include pad-reset(20px);
    @include pad-set(20px);

    border: 1px solid #ededed;
  }

  &--contacts {
    padding-top: 7px;

    .fields__textfield {
      margin-left: 10px;
    }
  }

  &--descr {
    padding-bottom: 6px;
  }

  &--add {
    padding-bottom: 20px;
  }
}

.fields__head {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 34px;
    right: -20px;
    background-color: $firmcolor;
  }
}

.fields__title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $textdark;
  max-width: 205px;
  padding-right: 24px;
  margin: 0;
  background-color: #ffffff;
}

.fields__block {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fields__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $textdark;
  white-space: nowrap;
}

.fields__textfield,
.fields__textarea {
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px 15px;
  border: 1px solid $header-border;
  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 1px solid $textcolor;
  }
}

.fields__textfield {
  width: 100%;
  margin-left: 15px;

  &:focus + .fields__contact-icon {
    fill: $firmcolor;
  }

  &:invalid {
    border-color: $errorcolor;
  }

  &:invalid + .fields__contact-icon {
    fill: $errorcolor;
  }
}

.fields__contact-icon {
  position: absolute;


  &--mail {
    right: 16px;
    top: 14px;
  }

  &--phone {
    right: 13px;
    top: 12px;
  }
}

.fields__inner {
  margin-top: 15px;
}

.fields__textarea {
  width: 100%;
  height: 150px;
  padding-right: 10px;
  margin-top: 14px;
  resize: none;
}

.fields__button-block {
  text-align: center;
}

.fields__button {
  width: 100%;
  margin-bottom: 22px;
}

.fields__note {
  font-family: "Arial", sans-serif;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .fields {
    padding-left: 40px;
    padding-right: 35px;
    padding-top: 6px;
    padding-bottom: 72px;
  }

  .fields__head {
    &::before {
      width: 200%;
      top: 42px;
      right: -65px;
    }
  }

  .fields__title {
    @include minititle-t;
    @include pad-reset(40px);
    @include pad-set(40px);

    max-width: none;
  }

  .fields__set {
    margin-bottom: 70px;

    &--personal {
      padding-bottom: 0;
    }

    &--program {
      padding-left: 27px;
      padding-bottom: 12px;
      margin-left: 0;
      margin-right: -65px;
      margin-bottom: 49px;
      border-right: none;
    }

    &--contacts {
      margin-bottom: 37px;

      .fields__title {
        margin-bottom: 39px;
      }

      .fields__textfield {
        margin-left: 17px;
      }
    }

    &--descr {
      margin-bottom: 35px;
    }

    &--add {
      padding-bottom: 23px;
      margin-bottom: 0;
    }
  }

  .fields__block {
    margin-bottom: 20px;
  }

  .fields__label,
  .fields__textfield,
  .fields__textarea {
    font-size: 20px;
    line-height: 30px;
  }

  .fields__textfield,
  .fields__textarea {
    padding: 10px 18px;
  }

  .fields__textfield {
    margin-left: 16px;
  }

  .fields__contact-icon {
    &--mail {
      right: 21px;
      top: 22px;
    }

    &--phone {
      right: 16px;
      top: 17px;
    }
  }

  .fields__textarea {
    line-height: 30px;
    height: 174px;
    margin-top: 55px;
  }

  .fields__button-block {
    display: flex;
    align-items: center;
  }

  .fields__button {
    font-size: 20px;
    width: 284px;
    padding-top: 17px;
    padding-bottom: 16px;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .fields__note {
    width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .fields {
    @include pad-set(0);

    padding-bottom: 82px;
  }

  .fields__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .fields__set {
    &--personal,
    &--program {
      width: 46.72%;
    }

    &--contacts,
    &--descr,
    &--add {
      width: 100%;
    }

    &--personal {
      margin-bottom: 41px;
    }

    &--program {
      margin: 0;
      border: 1px solid #ededed;
    }

    &--contacts {
      margin-bottom: 38px;

      .fields__block {
        width: 46.72%;
        margin-bottom: 0;
      }
    }

    &--descr {
      margin-bottom: 37px;
    }

    &--add {
      padding-bottom: 29px;
    }
  }

  .fields__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fields__textfield,
  .fields__textarea {
    padding: 11px 18px;
  }

  .fields__textarea {
    height: 173px;
  }

  .fields__button {
    width: 570px;
    margin-right: 47px;
  }

  .fields__note {
    width: 245px;
  }
}
