.program {
  padding: 21px;
  margin-top: 22px;
  background-color: $bg-grey;
}

.program__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.program__illustration {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $firmcolor;
}

.program__icon {
  position: absolute;

  &--slim {
    left: 8px;
    bottom: 2px;
  }

  &--pro {
    left: -9px;
    bottom: 13px;
  }
}

.program__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  color: $textdark;
  width: calc(100% - 70px);
  margin-top: 10px;
  margin-bottom: 12px;
}

.program__text {
  font-family: "Arial", sans-serif;
  width: 100%;
  padding-bottom: 21px;
  margin-top: 17px;
  margin-bottom: 0;
  border-bottom: 1px solid #d9d9d9;
}

.program__foot {
  padding-top: 19px;
}

.program__link {
  position: relative;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    .program__arrow {
      transform: translateX(0);
      transition: transform 0.4s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program__catalog {
  z-index: 1;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: $textdark;
  width: auto;
  padding-right: 10px;
  margin: 0;
  background-color: $bg-grey;
}

.program__arrow {
  fill: #3e4242;
  width: 29px;
  transform: translateX(-5px);
  transition: transform 0.4s;
}

@media (min-width: $tablet-width) {
  .program {
    padding-left: 52px;
    padding-right: 60px;
    padding-top: 77px;
    padding-bottom: 62px;
    margin-top: 0;
    margin-bottom: 31px;
  }

  .program__wrapper {
    position: relative;
  }

  .program__title,
  .program__text,
  .program__foot {
    width: calc(100% - 223px);
  }

  .program__title {
    font-size: 36px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .program__text {
    padding-bottom: 40px;
    border: none;

    &--pro {
      width: calc(100% - 253px);
    }
  }

  .program__illustration {
    position: absolute;
    top: 15px;
    right: 0;
    width: 202px;
    height: 202px;
    margin-left: auto;
  }

  .program__icon {
    &--slim {
      left: 30px;
      bottom: 16px;
      width: 69%;
      height: 100%;
    }

    &--pro {
      left: -35px;
      bottom: 1px;
      width: 133%;
      height: 100%;
    }
  }

  .program__foot {
    padding-top: 13px;
  }

  .program__catalog {
    font-size: 20px;
    line-height: 20px;
    padding-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 46.72%;
    height: auto;
    padding-right: 52px;
    padding-top: 48px;
    padding-bottom: 62px;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .program__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .program__illustration {
    position: relative;
    top: 0;
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-top: 0;
  }

  .program__title {
    width: calc(100% - 162px);
    margin-bottom: 0;
  }

  .program__text {
    width: 100%;
    padding-bottom: 32px;
    margin-top: 40px;
  }

  .program__foot {
    padding-top: 0;
  }

  .program__icon {
    &--slim {
      left: 13px;
      bottom: 7px;
    }

    &--pro {
      left: -17px;
      bottom: 0;
    }
  }
}
