.program-type-list {
  @include list-unstyle;

  margin-top: 20px;
}

.program-type-list__input {
  display: none;
}

.program-type-list__item {
  margin-bottom: 12px;
}

.program-type-list__label {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $textdark;
  width: 100%;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 9px;
    top: 9px;
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $firmcolor;
  }

  @include input-hovers;
}

.program-type-list__input:checked + .program-type-list__label::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .program-type-list {
    margin-top: 24px;
  }

  .program-type-list__item {
    margin-bottom: 15px;
  }

  .program-type-list__label {
    font-size: 20px;
    line-height: 20px;
    padding-left: 60px;
    padding-top: 9px;
    padding-bottom: 9px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &::after {
      left: 11px;
      top: 11px;
      width: 18px;
      height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-type-list__item {
    margin-bottom: 16px;
  }
}
